@tailwind base;
@tailwind components;
@tailwind utilities;

.clipped {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@layer components {
  .outline-round {
    border-radius: 0.5rem;
    outline-width: 0px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 500ms;
    @apply ring-blue-500;
    @apply focus-visible:ring-4;
  }
}

.loader {
  border: 6px solid rgb(212 212 212);
  border-bottom-color: rgb(2 132 199);
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skeleton-actor {
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 176px 288px, 176px 230px, 130px 15px;
  background-position: -176px 0, 0 0, 15px 250px;
  animation: loading-actor 1.5s infinite;
}

@keyframes loading-actor {
  to {
    background-position: 176px 0, 0 0, 15px 250px;
  }
}

.skeleton-movie {
  background: linear-gradient(0.25turn, transparent, #fff, transparent),
    linear-gradient(#ddd, #ddd), linear-gradient(#ddd, #ddd),
    linear-gradient(#ddd, #ddd);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 192px 320px, 192px 230px, 100px 15px, 150px 15px;
  background-position: -192px 0, 0 0, 15px 250px, 15px 280px;
  animation: loading-movie 1.5s infinite;
}

@keyframes loading-movie {
  to {
    background-position: 192px 0, 0 0, 15px 250px, 15px 280px;
  }
}
